<div class="primitive-placeholder" id="primitivePlaceholder" ng-controller="primitivePlaceholderController as vm">
	<style>
		.primitive-placeholder .span4 {
			margin-right: 15px;
		}

		.primitive-placeholder svg {
			max-width: 100%;
			height: auto;
		}

	</style>
	<div id="output" class="span4" ng-show="model.value">
		<div class="vector" id="vector"></div>
		<!-- hidden in case we ever want the raw svg -->
		<textarea spellcheck="false" ng-model="model.value" style="display: none"></textarea>
	</div>
	<button class="btn" ng-click="vm.regenerate($event)" stop-event>{{ model.value ? 'Regenerate' : 'Generate' }}</button>
	<button class="btn" ng-click="vm.fullscreen($event)" ng-show="model.value" stop-event>Full-screen</button>
</div>
